@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::selection {
    background: var(--green);
    color: white;
  }

:root {
    --orange: #fa824c;
    --green: #A2D729;
    --white: #FAFFFD;
    --dark-grey: #342e37;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100dvh;
}

/* Header */

header {
    width: 100%;
    height: 7dvh;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 750;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Nav Bar underneath the Header */

nav {
    background-color: var(--orange);
    width: 100%;
    height: 4dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    min-height: 100%;
    color: var(--white);
    max-height: fit-content;
    padding: 0 0.5em 0 0.5em;
    text-decoration: none;
    transition: 0.25s ;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover for Nav Bar & Background Color change for each page */

nav > a:hover{
    background-color: var(--white);
    color: var(--orange);
}

/* Main Body Content */

main {
    width: 100%;
    min-height: 86dvh;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Image Section */

.imageContainer {
    width: 100%;
    max-height: 225px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer > img{
    transform: scale(0.5);
    margin: 2em o 2em 0;
}

/* Introduction Section */
.introduction {
    width: 75%;
    color: var(--dark-grey);

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 1em;
}

.headingIntroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleIntroduction {
    font-size: 1.25em;
    text-align: center;
}

.nameIntroduction {
    font-size: 3em;
    font-weight: 1000;
    color: var(--orange);
    text-align: center;
}

.introduction > p {
    justify-self: flex-start;
    text-align: center;
    line-height: 1.25em;
    font-weight: 500;
    text-wrap: pretty;
}

/* Programming Language Icons */
.codingIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codingIcons > img {
    width: 25%;
    transform: scale(0.6);
}

/* About Button  */


.introductionButton {
    padding: 15px;
    border-radius: 1.5em;
    background-color: var(--orange);
    font-weight: 750;
    border-style: none;
    transition: 0.25s;
    align-self: center;
    text-decoration: none;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Introduction Hover */

.introductionButton:hover {
    background-color: var(--green);
    transform: scale(1.2);
}


/* Footer */

footer {
    width: 100%;
    height: 3dvh;
    background-color: var(--dark-grey);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Below 800px Height - The reason I added an option for under 800px is because I have
friends at work who use iPhone SE's and Samsung Galaxy's, which means there may be others */

@media screen and (max-height: 770px) {

    nav {
        height: 5dvh;
    }

    .imageContainer {
        transform: scale(0.75);
        margin-bottom: 1em;
    }

    .introduction {
        height: 100%;
        margin-bottom: 2em;
        row-gap: 2em;
        justify-content: center;
    }

    footer {
        position: flex-end;
        margin-top: 0.65em;
        max-height: 5dvh;
    }
}

/* Responsive Above 600px width - Desktop */

@media screen and (min-width: 600px) {

    /* Image */
    .imageContainer {
        width: 100%;
        height: fit-content
    }

    .imageContainer > img {
        height: 50dvh;
    }

    /* Introduction */

    .introduction {
        /* margin-top: 2em; */
        row-gap: 2.5em;
    }

    .titleIntroduction {
        font-size: 2em;
        text-align: center;
    }
    
    .nameIntroduction {
        font-size: 4em;
        font-weight: 1000;
        color: var(--orange);
        text-align: center;
    }

    .infoIntroduction {
        max-width: 60%;
        justify-self: center;
        align-self: center;
    }

    /* Logo's */

    .codingIcons {
        max-width: 50%;
        display: flex;
        justify-self: center;
        align-self: center;
    }

    .codingIcons > img {
        min-width: 100px;
        max-width: 15%;
    }
    

    /* Contact Button */

    .introductionButton {
        padding: 25px;
        font-size: 1.5em;
    }
}
